<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <section class="bg-white min-h-screen">
            <%- include('../partials/nav'); %>

            <div class="container px-6 pt-8 pb-16 mx-auto text-center">
                <div class="mx-auto grid grid-cols-3">
                    <div class="grid grid-rows">
                        <h1
                            class="text-xl font-bold text-gray-800 md:text-2xl mb-3"
                        >
                            ML Blocks in Scratch
                        </h1>
                        <div
                            class="w-fit mx-auto rounded-md bg-gradient-to-r from-pink-500 via-red-600 to-yellow-600 p-0.5"
                        >
                            <img
                                class="rounded-md"
                                src="https://i.ibb.co/x3HXgDG/Screen-Shot-2022-12-28-at-10-10-1.jpg"
                            />
                        </div>
                    </div>
                    <div class="grid grid-rows">
                        <h1
                            class="text-xl font-bold text-gray-800 md:text-2xl mb-3"
                        >
                            Train Image Classifiers
                        </h1>
                        <div
                            class="w-fit mx-auto rounded-md bg-gradient-to-r from-pink-500 via-red-600 to-yellow-600 p-0.5"
                        >
                            <img
                                class="rounded-md"
                                src="https://i.ibb.co/W3K27xg/Screen-Shot-2022-12-28-at-10-31-1.jpg"
                            />
                        </div>
                    </div>
                    <div class="grid grid-rows">
                        <h1
                            class="text-xl font-bold text-gray-800 md:text-2xl mb-3"
                        >
                            Interact with b.Board (Beta)
                        </h1>
                        <div
                            class="w-fit mx-auto rounded-md bg-gradient-to-r from-pink-500 via-red-600 to-yellow-600 p-0.5"
                        >
                            <img
                                class="rounded-md"
                                src="https://i.ibb.co/jHQLcNK/image-1.jpg"
                            />
                        </div>
                    </div>
                </div>
                <a href="/user">
                    <button
                        class="px-9 py-3 mt-8 text-lg font-medium leading-5 text-center text-white capitalize bg-purple-800 rounded-lg hover:bg-purple-700 md:mx-0 md:w-auto focus:outline-none"
                    >
                        Get Started
                    </button>
                </a>
            </div>
        </section>
    </body>
</html>
